
        h1 {
            color: rgb(178, 102, 255);
        }  
        
        body {
            background-color: rgb(176, 165, 232);
        }
            
        p {
           color: rgb(61, 40, 164);
        }
        
        div {
         width:70%;
         margin: auto;
         padding: 9px;
           }

    
       

     
